.custom-gradient-bg {
  background: linear-gradient(
    to bottom,
    #01198e,
    #13014b,
    rgb(0, 0, 0)
  ); /* Example gradient colors */
  min-height: 100vh; /* Ensures it covers the entire browser height */
}

.navbar-custom-black {
  background-color: #000000 !important;
}

.nav-link-name {
  color: hotpink;
}

.nav-link {
  color: hotpink;
  text-shadow: none;
  transition: text-shadow 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: blueviolet;
  text-shadow: 0 0 10px currentColor, 0 0 20px currentColor;
}
